.ptslider__wrapper {
  position: relative;
  overflow: hidden;
}

.ptslider__item {
  display: block;
  position: absolute;
  top: 0;
  will-chagne: transform;
}

.ptslider__bullets {
  margin: 0;
  padding: 0;
}

.ptslider__bullet {
  display: inline-block;
}

.ptslider--active {
  border: 1px solid red;
}
